extends ./base.pug

block body
  h1(style="text-align:center;") Hi, welcome to Docker-dev!!!

  div(style="position: fixed;bottom:20px;left:0;text-align:center;width:100%")
    span Github Repository Address:
    a(href="https://github.com/charleslxh/docker-dev") https://github.com/charleslxh/docker-dev
